@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DM+Serif+Text:ital@0;1&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oooh+Baby&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

body {
  overflow: hidden;
}
#cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #000;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 98;
  mix-blend-mode: difference;
}

[data-hover] {
  cursor: none;
}

[data-hover="true"] #cursor {
  background: transparent;
  width: 50px;
  height: 50px;
  border-color: rgb(0, 0, 0);
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(242, 242, 242);
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  padding-top: 20px;
  padding-left: 1300px;
  display: flex;
  gap: 20px;
}

nav a {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  text-decoration: none;
  color: black;
}

.hero-image {
  position: absolute;
  top: 50px;
  left: 500px;
  width: 225px;
  height: 650px;
  background-size: 400px;
  background-image: url(Assests/hero-image.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  overflow: hidden;
  transition: all ease 1s;
  cursor: pointer;
}

.number {
  padding: 0px 50px;
  font-size: 30px;
  font-family: "Oooh Baby", cursive;
}

.hero-image:hover img {
  scale: 1.2;
}

.hero-text h1 {
  margin-top: 175px;
  margin-left: 280px;
  font-family: "DM Serif Text", serif;
  font-size: 225px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 0.6;
  font-weight:100;
}

.hero-text span {
  position: absolute;
  margin-left: 30px;
  font-family: "Oooh Baby", cursive;
  font-size: 275px;
  text-transform: lowercase;
  font-weight: 100;
  z-index: 4;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.hero-text2 {
  margin-top: 250px;
  margin-left: 980px;
  font-family: "Poppins", sans-serif;
}

.hero-text2 span {
  margin-left: 10px;
}

.circle-arrow {
  position: absolute;
  top: 80%;
  left: 90%;
  border-radius: 50%;
  border: 3px solid black;
  width: 75px;
  height: 75px;
}

.circle-arrow i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}


.container {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgb(242, 242, 242);
}

.container img {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* transform: rotate(-30deg);   */
}

.container-wrapper {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgb(255, 255, 255);
  clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
  transform: rotate(30deg);
}

.container-text {
  position: absolute;
  z-index: 3;
  font-family: "Italiana", serif;
  font-size: 80px;
}

.text1 {
  font-weight: 200;
  margin-top: 250px;
  margin-left: 450px;
  line-height: 0.2;
}

.text2 {
  font-weight: 200;
  margin-top: 100px;
  margin-left: 200px;
  line-height: 0.2;
}

.text3 {
  font-weight: 200;
  margin-top: 100px;
  margin-left: 280px;
  line-height: 0.2;
}


.racesWrapper, .racesWrapper2 {
  position: relative;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100%;
  /* overflow-x: scroll;  */
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent line breaks */
}

.races, .races2 {
  display: flex;
  flex-wrap: nowrap;
  gap: 100px;
  padding: 50px;
}

.video-gallery {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.video-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.video {
  width: 500px;
  height: 625px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  font-family: "Italiana", serif;
  font-size: 20px;
  font-weight: 100;
  transition: opacity 0.3s ease;
}

.video-item:hover .video {
  transform: scale(1.1);
}

.video-item:hover .overlay {
  opacity: 1;
}

.image-gallery {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.image {
  width: 500px;
  height: 625px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.image-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  font-family: "Italiana", serif;
  font-size: 20px;
  font-weight: 100;
  transition: opacity 0.3s ease;
}

.image-item:hover .image {
  transform: scale(1.1);
}

.image-item:hover .overlay {
  opacity: 1;
}

.about-me-section {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000; /* Matches the dark theme */
  padding: 4rem 2rem;
  gap: 2rem;
  color: white; /* Contrasts against the dark background */
}

.about-content {
  flex: 1;
  max-width: 600px;
  
}

.about-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  /* font-family: "DM Serif Text", serif; */
}

.about-content h2 span {
  color: #686362; /* Accent color to highlight "Me" */
}

.about-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.8); /* Softer white for text */
}

.cta-button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  background-color: #686362;;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
  background-color: #fff;
  transform: scale(1.05);
}

.about-image {
  filter: grayscale(70%);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
}

.about-image img:hover {
  transform: scale(1.05);
}

